#topHeader {
  background-color: #fcd485;
  text-align: center;
}

#title {
  font-family: "Pontano Sans", cursive;
  font-size: 50px;
  color: black;
  text-align: center;
}

#main {
  background-color: #fff0cc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.rounded-circle {
  object-fit: cover;
  height: 200px;
  width: 200px;
  outline: black solid 1.5px;
}

.plantDisplay {
  padding: 5px;
  /* justify-content: center; */
  /* text-align: center; */
}

#name {
  text-align: center;
  font-family: Poppins;
  background-color: #9ED373;
  font-weight: bold;
  padding: 5px;
  width: 200px;
  border-radius: 0px;
  outline: black solid 1.5px;
}

#feelingTitle,
#careTitle {
  font-weight: bold;
}

#feeling {
  text-align: center;
  background-color: #F3FFF9;
  font-weight: bold;
  padding: 5px;
  font-size: x-large;
  border-radius: 15px;
  outline: black solid 1.5px;
  width: 200px;
}

#updateButton {
  background-color: #b6de89;
  border-radius: 24px;
  width: 200px;
  font-family: Poppins;
}

.current-status,
.sensorSection {
  padding: 5px;
  margin-left: 50px;
}

#statusHeader,
#sensorHeader {
  font-weight: bold;
  
}

.card-group {
  padding: 5px;
}

#measurementCard {
  text-align: center;
  width: 200px;
  height: 200px;
}

#temperature {
  color: #FF0000;
}

#light {
  color: #FFD600;
}

#moisture {
  color: #579AD8;
}

.care_bars {
  width: 200px;
}

.care_cards {
  display: flex;
  justify-content: center;
  outline: black solid 1.5px;
}